.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 256px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 13px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 10px 11px rgba(0, 0, 0, 0.1);
}

.banner {
    height: 160px;
    width: 100%;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.author {
    display: flex;
    align-items: center;
    gap: 6px;
}

.author-name:hover {
    color: #000000;
}

.author-name {
    font-size: 14px;
    color: #4b5563;
}

.category {
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top: 8px;
    left: 8px;

    background: rgba(43, 43, 43, 0.7);

    padding: 2px 12px;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 500;

    backdrop-filter: blur(7px);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.border {
    border-top: 1px solid #d1d5db;
    margin-top: 6px;
}

.items {
    display: flex;
    align-items: center;
    font-family: var(--font-google-sans), sans-serif;
    font-size: 13px;
    gap: 3px;
    color: #4b5563;
}

.stats {
    display: flex;
    align-items: center;
    font-family: var(--font-google-sans), sans-serif;
    font-size: 12px;
    gap: 6px;
    color: #4b5563;
}

@media (max-width: 1000px) {
    .card {
        width: 356px;
    }
}
