{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "singleAttributePerLine": false,
    "plugins": ["prettier-plugin-prisma"],
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": { "tabWidth": 2 }
        },
        {
            "files": ["*.md", "*.mdx"],
            "options": { "tabWidth": 2 }
        }
    ]
}
