.title {
    font-size: 19px;
}

.description {
    font-size: 14px;
}

.paragraph {
    font-family: var(--font-google-sans), sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 25px;
}
