.header {
    font-family: var(--font-google-sans), sans-serif;
    color: var(--text-color);
    font-size: 50px;
    margin-top: 210px;
}

.paragraph {
    color: var(--soft-text);
}

.social-media {
    display: flex;
    margin-top: 15px;
    gap: 7px;
}

.social-media-btn {
    color: #fff;
    font-family: var(--font-google-sans), sans-serif;
    font-size: 11px;
    margin-left: 5px;
}
