@import 'tailwindcss';

:root {
    --background: #fafafa;
    --foreground: #fafafa;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    margin-top: 11px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
    box-sizing: border-box;
}

.navBarTitle {
    color: black;
    font-size: 20px;
    padding-left: 3px;
    font-family: var(--font-google-sans), sans-serif;
    margin: 2;
}

.navBarIcon {
    margin-bottom: 7px;
    margin-left: 5px;
}

.loginBtn {
    margin-right: 6;
}

.authPanel {
    position: absolute;
    right: 10px;
    bottom: calc(0px + 6px);
}

.auth-header {
    font-family: var(--font-google-sans), sans-serif;
    color: black;
    font-size: 40px;
    margin-top: 202px;
}

.userNavbarProfile {
    position: absolute;
    right: 10px;
    bottom: calc(0px + 6px);
}
