@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');
@import 'tailwindcss';

:root {
    --background: #fafafa;
    --foreground: #fafafa;
}

.profile {
    background-color: #f3f4f6;
    min-height: 100vh;
}

.profile-cover {
    position: relative;
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.profile-cover-editing {
    position: relative;
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.profile-cover-editing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/images/BannerHover.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.profile-cover-editing:hover::after {
    opacity: 0.7;
}

.profile-nav-bar {
    background-color: #ffffff;
    max-width: 1100px;
    margin: -80px auto 0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    padding: 25px 30px;
    position: relative;
}

.profile-action-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    text-transform: none;
}

.confim-btn {
    position: absolute;
    top: 50px;
    right: 14px;
    text-transform: none;
}

.close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    text-transform: none;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.profile-avatar {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-top: -50px;
    background-color: #fff;
}

.profile-avatar-editing {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    border: 4px solid #ffffff;
    margin-top: -50px;
    background-color: #fff;
    cursor: pointer;
}

.profile-avatar-editing::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/images/AvatarHover.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.profile-avatar-editing:hover::after {
    opacity: 0.7;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.profile-name {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Figtree', sans-serif;
    transform: translateY(-20px);
}

.profile-username {
    color: #6b7280;
    font-size: 14px;
    font-family: 'Figtree', sans-serif;
    transform: translateY(-26px);
}

.profile-username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profile-description {
    color: #4b5563;
    font-size: 15px;
    max-width: 500px;
    transform: translateY(-18px);
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    margin-top: 11px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
    box-sizing: border-box;
}

.nav-bar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    .nav-bar-navigation .nav-text {
        display: none;
    }
}

@media (max-width: 750px) {
    .nav-bar-navigation {
        display: none;
    }
}

.search-bar-form {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1;
    width: 310px;
    height: 45px;
    transition:
        width 0.3s,
        height 0.3s;
}

@media (max-width: 1000px) {
    .search-bar-form {
        width: 170px;
        height: 40px;
    }
}

@media (max-width: 600px) {
    .search-bar-form {
        width: 110px;
        height: 40px;
    }
}

@media (max-width: 200px) {
    .search-bar-form {
        display: none;
    }
}

.navigation-button {
    color: #afafaf;
    font-family: var(--font-rubik-medium), rubik-medium;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
}

.navigation-button-in {
    color: #000000;
    font-family: var(--font-rubik-medium), rubik-medium;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
}

.nav-bar-title {
    color: black;
    font-size: 20px;
    padding-left: 3px;
    font-family: var(--font-google-sans), sans-serif;
    margin: 2;
    margin-top: 3px;
}

.nav-bar-icon {
    margin-bottom: 7px;
    margin-left: 5px;
}

.login-btn {
    margin-right: 6;
}

.auth-panel {
    position: absolute;
    right: 10px;
    bottom: calc(0px + 4px);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.auth-panel:hover {
    background-color: #f3f4f6;
}

.auth-panel-search {
    position: relative;
}

.auth-panel-search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.auth-header {
    font-family: var(--font-google-sans), sans-serif;
    color: black;
    font-size: 50px;
    margin-top: 210px;
}

.auth-paragraph {
    color: rgb(90, 90, 90);
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    z-index: 9999;
    width: auto;
    padding: 8px 16px;
    border-radius: 8px;
    pointer-events: none;
}

.toast.show {
    transform: translateX(-50%) translateY(0);
    opacity: 2;
}

.home-page-title {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 25px;
    justify-content: flex-start;
    padding: 0 210px;
    box-sizing: border-box;
    font-family: var(--font-google-sans), sans-serif;
    color: rgb(0, 0, 0);
    font-size: 27px;
}

.collections-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    margin-top: 25px;
    justify-content: flex-start;
    padding: 0 190px;
    box-sizing: border-box;
}

.collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 256px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 13px;
    overflow: hidden;
}

.collection-banner {
    height: 160px;
    width: 100%;
}

.collection-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collection-title {
    font-size: 18px;
    font-weight: 600;
}

.collection-author {
    display: flex;
    align-items: center;
    gap: 6px;
}

.collection-author-name {
    font-size: 14px;
    color: #4b5563;
}

.collection-category {
    font-size: 12px;
    color: #6b7280;
}

.collection-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.collection-items {
    display: flex;
    align-items: center;
    font-family: var(--font-google-sans), sans-serif;
    font-size: 13px;
    gap: 2px;
    color: #4b5563;
}

.collection-stats {
    display: flex;
    align-items: center;
    font-family: var(--font-google-sans), sans-serif;
    font-size: 12px;
    gap: 5px;
    color: #4b5563;
}

.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
    justify-content: flex-start;
    padding: 0 210px;
    box-sizing: border-box;
}

.pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 25px;
    justify-content: flex-start;
    padding: 0 210px;
    box-sizing: border-box;
}

.nothing-is-here {
    font-family: var(--font-google-sans), sans-serif;
    font-size: 20px;
    padding: 0 20px;
}

@media (max-width: 950px) {
    .home-page-title {
        padding: 0 125px;
    }

    .buttons-wrapper {
        padding: 0 125px;
    }

    .collections-wrapper {
        padding: 0 60px;
        justify-content: center;
        gap: 16px;
    }

    .collection-card {
        width: 40%;
        margin-left: 0;
    }
}

@media (max-width: 580px) {
    .home-page-title {
        padding: 0 100px;
    }

    .buttons-wrapper {
        padding: 0 100px;
    }
}

@media (max-width: 480px) {
    .home-page-title {
        padding: 0 18px;
        margin-left: 0px;
    }

    .buttons-wrapper {
        padding: 0 18px;
    }

    .collections-wrapper {
        padding: 0 16px;
        margin-right: 50px;
        gap: 12px;
    }

    .collection-card {
        width: 100%;
        margin-left: 0;
    }

    .collection-title {
        font-size: 16px;
    }

    .collection-author-name {
        font-size: 13px;
    }

    .collection-category {
        font-size: 11px;
    }

    .collection-items {
        font-size: 12px;
    }

    .collection-stats {
        font-size: 11px;
    }
}
