@import 'tailwindcss';

:root {
    --background: #fafafa;
    --foreground: #fafafa;
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    z-index: 9999;
    width: auto;
    padding: 8px 16px;
    border-radius: 8px;
    pointer-events: none;
}

.toast.show {
    transform: translateX(-50%) translateY(0);
    opacity: 2;
}
