.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 10px;
    background-color: var(--container-color);
    border-top: 1px solid var(--border-color);
}

.link {
    color: var(--soft-text);
    font-family: var(--font-rubik-medium), sans-serif;
    font-size: 13px;
}

.link:hover {
    color: var(--text-color);
}
