.container {
    width: 310px;
}

.paper {
    margin-top: 8px;
    overflow: hidden;
}

.option:hover,
.option[aria-selected='true'] {
    background-color: var(--border-color) !important;
}

.close {
    margin-left: 8px;
    cursor: pointer;
    color: var(--muted-icon);
}

@media (max-width: 600px) {
    .container {
        width: 160px;
    }
}
