.header {
    max-width: 1150px;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 25px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.settings {
    font-family: var(--font-google-sans), sans-serif;
    margin-left: 5px;
    font-size: 30px;
}

.description {
    font-size: 14px;
    color: #636363;
    margin-left: 6px;
    margin-top: 3px;
}

.container {
    background-color: #ffffff;
    max-width: 1100px;
    margin: 10px auto 0;
    border-radius: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
    padding: 25px 30px;
    position: relative;
}

.profileTitle {
    font-family: var(--font-google-sans), sans-serif;
    font-size: 18px;
    margin-left: 4px;
}

.option {
    margin-top: 20px;
    font-size: 14px;
    color: #636363;
}

.profileInput {
    margin-top: 5px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .header {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 550px;
    }

    .header {
        max-width: 550px;
        padding: 25px 10px;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: 450px;
    }

    .header {
        max-width: 450px;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 350px;
    }

    .header {
        max-width: 350px;
    }
}
