.nav-bar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color: var(--container-color);
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
}

.nav-bar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-button {
    color: #afafaf;
    font-family: var(--font-rubik-medium), rubik-medium;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
}

.navigation-button-in {
    color: var(--text-color);
    font-family: var(--font-rubik-medium), rubik-medium;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 14px;
}

.nav-bar-title {
    color: var(--text-color);
    font-size: 20px;
    padding-left: 3px;
    font-family: var(--font-google-sans), sans-serif;
    margin: 2;
    margin-top: 10px;
}

.nav-bar-icon {
    margin-top: 7px;
    margin-left: 6px;
}

.login-btn {
    margin-right: 6;
}

.auth-panel,
.username-panel {
    position: absolute;
    right: 10px;
    bottom: calc(0px + 0px);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.username-panel {
    bottom: calc(0px + 2px);
}

.username-panel:hover {
    background-color: var(--border-color);
}

.auth-panel-search {
    position: relative;
}

.auth-panel-search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(0px);
}

.nav-right-username {
    font-weight: 500;
}

@media (max-width: 1200px) {
    .nav-right .nav-right-username {
        display: none;
    }

    .auth-panel {
        gap: 0px;
        transform: translateY(0%) translateX(10px);
    }
}

@media (max-width: 300px) {
    .nav-right .auth-panel-search-btn {
        display: none;
    }
}

@media (max-width: 1200px) {
    .nav-bar-navigation {
        display: none;
    }
}
