.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    transition: background 0.2s;
}

.unread {
    background-color: #f0f5ff;
}

.notification:hover {
    background-color: #f3f3f3;
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
    margin-left: 8px;
    flex-grow: 1;
}

.username {
    font-family: var(--font-google-sans), sans-serif;
    color: #000;
    font-size: 15px;
}

.text {
    font-size: 14px;
    margin-left: 4px;
    color: #929292;
}

.collection {
    font-family: var(--font-google-sans), sans-serif;
    color: #000;
    font-size: 15px;
    margin-left: 4px;
}

.time {
    font-size: 12px;
    color: #929292;
    margin-left: auto;
}
