.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;
    transition: background 0.2s;
}

.unread {
    background-color: color-mix(in srgb, var(--accent) 30%, transparent);
}

.notification:hover {
    background-color: color-mix(in srgb, var(--accent) 20%, transparent);
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
    margin-left: 8px;
    flex-grow: 1;
}

.username {
    font-family: var(--font-google-sans), sans-serif;
    color: var(--text-color);
    font-size: 14px;
    margin-top: 1px;
}

.text {
    font-size: 14px;
    margin-left: 4px;
    color: var(--soft-text);
}

.collection {
    font-family: var(--font-google-sans), sans-serif;
    color: var(--text-color);
    font-size: 14px;
    margin-left: 4px;
    margin-top: 1px;
}

.collection:hover {
    text-decoration: underline;
}

.time {
    font-size: 12px;
    color: var(--soft-text);
    margin-left: auto;
}
